#box{
    height: 150px;
    
    width: 110px;
    color: whitesmoke;
    background-color: #000000;
    border-radius: 20px;
    
}
#box > h3{
    padding: 10px ;

}
#box > h2{

    padding-right: 150px;
    padding-bottom: 30px;
}
#dates{
    padding-right: 50px;
    padding-left: 20px;
}


 