.fillcontainer{
    padding-left: 120px;
    
}
#container{
    /* padding: 10px; */
    align-items: center;
    justify-content: center;
    width: 850px; 
    height: 180px; 
    display: flex;
    background-color: lightgray;
    border-radius: 10px;
    
}
 #container > #rs{
    color: black;
    /* padding:10vh; */
    padding-left: 60px;
    }
#container > #loan{
    display: flex;
    font-size: large;
    padding-right: 140px;
    padding-left: 30px;
    /* padding-right:300px; */
   }
#container > #icon{
    padding-left: 90px;
}


