.bttn{
    text-align: center;
    color:balck;
    height: 50px;
    width: 120px; 
}
 .heading {
    height: 200px;
    width: 100%;
    padding: 50px;
    color: lightgray;
}
.heading > h1> span{
    color: red;
}
.tittle{
    align-items: center;
}
@media only screen and (max-width: 600px){
  
    /* .tittle{
        text-align: center;
        width: 350%;
        padding-left: 470px;
    } */
    #head{
        transform: translateX(-1.8em);
        font-size: 80px;
        font-weight: bold;
    }
    .heading {
        
        /* padding-top: 50px; */
        position: relative;
        width: 400px;
        text-align: center;
        /* background-color: ; */
        /* padding: 60px ; */
        padding-left: 450px;
        /* padding-right: 1000px; */
    }
    .bttn{
        font-weight:bold;
        font-size: 30px;
        width: 250px;
        height: 100px;
        color: black;
        border-radius: 30px;
        transform: translateX(12em);

        
    

    }
}
